<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waitlist Signup Confirmation</title>
</head>
<body>
<p>Thank you for signing up for our waitlist. Your email address has been successfully added to our list.</p>
<p>If you no longer wish to be on the waitlist, you can remove yourself by clicking the following link:</p>
<p>We will notify you via this e-mail address when our website enters the beta phase.</p>
</body>
</html>