<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bekleme Listesi Çıkış Onayı</title>
</head>
<body>
<p>E-posta adresiniz bekleme listemizden başarıyla kaldırıldı.</p>
<p>Sitemize gösterdiğiniz ilgi için teşekkür ederiz. Fikrinizi değiştirir ve bekleme listesine yeniden katılmak isterseniz tekrar websitemiz üzerinden kaydolabilirsiniz.</p>
</body>
</html>